{% extends 'main.html' %}

{% block body %}

{% if error %}
<ul>
  <li>{{error_msg}}</li>
</ul>  
{% endif %}

<form method="POST"> {% csrf_token %}
  {{form.as_p}}
  <input type="submit" style="float:bottom;">
</form>

<div id="tables">
    <table>
      <tbody id="OpenBugs">
        <tr>
          <th>Open Bugs ({{open|length}})</th>
        </tr>

        {% for bug in open %}
        <tr>
          <td onclick="ShowDesc(this, 'open')" desc="{{bug.description}}\n\nOpened: {{bug.open_time|date:'m/d/Y g:i:s A'}}">{{bug.name}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <table>
      <tbody id="ProgressBugs">
        <tr>
          <th>In Progress ({{progress|length}})</th>
        </tr>

        {% for bug in progress %}
        <tr>
          <td onclick="ShowDesc(this, 'progress')" desc="{{bug.description}}\n\nOpened: {{bug.open_time|date:'m/d/Y g:i:s A'}}">{{bug.name}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <table>
      <tbody id="ClosedBugs">
        <tr>
          <th>Fixed Bugs ({{closed|length}})</th>
        </tr>

        {% for bug in closed %}
        <tr>
          <td onclick="ShowDesc(this, 'closed')" desc="{{bug.description}}\n\nOpened: {{bug.open_time|date:'m/d/Y g:i:s A'}}
            \nClosed: {{bug.closed_time|date:'m/d/Y g:i:s A'}}">{{bug.name}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <div style="padding-left: 80px; float:right;">
      <textarea name="description" cols="30" rows="3" placeholder="A bug description." id="BugDesc" style="height: 372px; width: 250px; resize: none;" readonly></textarea>
      <br>
      <form method="POST"> {% csrf_token %}
        <input id="SelectedBug" type="hidden" name="name" value="">
        <input id="ChangeStatus" type="hidden" name="status" value="">
        <input id="SubmitStatus" style="float:bottom; height: 28px; width: 250px; visibility: hidden;" value="Click me!" type="submit">
      </form>
    </div>

  </div>
{% endblock %}